<% if @business.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @business.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<h3>Registration Form:</h3>
<%= form_for @business do |f| %>
    <%= f.label "Name:" %><br/>
    <%= f.text_field :name%>
    <br/>
    <%= f.label "Sector:" %><br/>
    <%= f.text_field :sector %>
    <br/>
    Headquarters<br/>
    <%= f.label "City:" %><br/>
    <%= f.text_field :city %>
    <br/>
    <%= f.label "State:" %><br/>
    <%= f.text_field :state %>
    <br/>
    <%= f.label "Website:" %><br/>
    <%= f.text_field :website %>
    <br/>
    <%= f.label "Email:" %><br/>
    <%= f.email_field :email %>
    <br/>
    <%= f.label "Password:" %><br/>
    <%= f.password_field :password %>
    <br/>

        Philanthropic Initiative<br/>
        <%= f.fields_for :philanthropic_initiatives do |pi_f| %>

        <%= pi_f.label "Name:" %><br/>
        <%= pi_f.text_field :name %><br>

        <%= pi_f.label "Pledged Amount:" %><br/>
        <%= pi_f.text_field :pledged_amount %><br>

        <%= pi_f.label "Goal:" %><br/>
        <%= pi_f.text_area :goal %><br>

            Recipient<br/>
            <%= pi_f.fields_for :beneficiary, Beneficiary.new  do |beneficiary_f| %>
                <%= beneficiary_f.label "New Recipient:" %><br/>
                <%= beneficiary_f.text_field :recipient %><br>

                <%= beneficiary_f.label "City:" %><br/>
                <%= beneficiary_f.text_field :city %><br>
                
                <%= beneficiary_f.label "State:" %><br/>
                <%= beneficiary_f.text_field :state %><br>
            <%end%>
        <%end%>
    
    <%= f.submit %>
<% end %>