<% if @business.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @business.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<h3>Registration Form:</h3>
<%= form_for @business do |f| %>
    <%= f.label "Name:" %><br/>
    <%= f.text_field :name%>
    <br/>
    <%= f.label "Sector:" %><br/>
    <%= f.text_field :sector %>
    <br/>
    Headquarters<br/>
    <%= f.label "City:" %><br/>
    <%= f.text_field :city %>
    <br/>
    <%= f.label "State:" %><br/>
    <%= f.text_field :state %>
    <br/>
    <%= f.label "Website:" %><br/>
    <%= f.text_field :website %>
    <br/>
    <%= f.label "Email:" %><br/>
    <%= f.email_field :email %>
    <br/>
    <%= f.label "Password:" %><br/>
    <%= f.password_field :password %>
    <br/>

        Recipient<br/>
        <%= f.fields_for :beneficiaries do |b_f| %>
        <%= b_f.label "Recipient:" %><br/>
        <%= b_f.text_field :recipient %><br>

        <%= b_f.label "City:" %><br/>
        <%= b_f.text_field :city%><br>

        <%= b_f.label "State:" %><br/>
        <%= b_f.text_field :state %><br>

            Philanthropic Initiative<br/>
            <%= b_f.fields_for :philanthropic_initiative, PhilanthropicInitiative.new  do |pi_f| %>
            <%= pi_f.label "Name:" %><br/>
            <%= pi_f.text_field :name %><br>

            <%= pi_f.label "Pledged Amount:" %><br/>
            <%= pi_f.text_field :pledged_amount %><br>
            
            <%= pi_f.label "Goal:" %><br/>
            <%= pi_f.text_area :goal %><br>
            <%end%>
        <%end%>
    <br/>

    <%= f.submit %>
<% end %>