<h3><%=@business.name%></h3><br/>
<%=@business.email%><br/>
<%=@business.city%><br/>
<%=@business.state%><br/>
<%=@business.website%><br/>

<%= link_to "Edit", edit_business_path(@business)%>
<%= link_to "Log out", logout_path %>

