<h3><%=@business.name%></h3><br/>
<%=@business.sector%><br>
<%=@business.email%><br/>
<%=@business.city%><br/>
<%=@business.state%><br/>
<%=@business.website%><br/>
<br>

<h5>Business' Philanthropic Initiatives:</h5>

<%=render partial: 'philanthropic_initiatives/philanthropic_initiatives', locals: {philanthropic_initiatives: @business.philanthropic_initiatives}%>



<%= link_to "Add an Initiative:", new_business_philanthropic_initiative_path(@business)%><br/>
<%= link_to "Edit", edit_business_path(@business)%><br/>
<%= link_to "Log out", logout_path %>






