<h3><%=@business.name%></h3><br/>
<div>Industry: <%=@business.sector%></div>
<div>Email: <%=@business.email%></div>
<div>City: <%=@business.city%></div>
<div>State: <%=@business.state%></div>
<div>Website: <%=@business.website%></div>

<h6 class="mt-4">Business' Philanthropic Initiatives:</h6>

<%=render partial: 'philanthropic_initiatives/philanthropic_initiatives', locals: {philanthropic_initiatives: @business.philanthropic_initiatives}%>


<a href="<%=new_business_philanthropic_initiative_path(@business)%>" class="btn btn-secondary my-2 btn-sm">Add Initiative</a><br/>
<a href="<%=edit_business_path(@business)%>" class="btn btn-secondary my-2 btn-sm">Edit Business</a><br/>




