<h3><%=@business.name%></h3><br/>
<div><b>Industry: </b><%=@business.sector%></div>
<div><b>Email: </b><%=mail_to @business.email, @business.email, class: "text-info" %> </div> 
<div><b>City: </b><%=@business.city%></div>
<div><b>State: </b><%=@business.state%></div>
<div><b>Website: </b><%=@business.website%></div> 

<h6 class="mt-4">Business' Philanthropic Initiatives:</h6>

<%=render partial: 'philanthropic_initiatives/philanthropic_initiatives', locals: {philanthropic_initiatives: @business.philanthropic_initiatives}%>

<%if @business == current_business%>
    <a href="<%=new_business_philanthropic_initiative_path(@business)%>" class="btn btn-secondary my-2 btn-sm">Add Initiative</a>
    <br/>
    <br/>
    <br/>
    <a href="<%=edit_business_path(@business)%>" class="btn btn-light my-2 btn-sm">Edit Business</a><br/>
    <%=button_to "Delete", @business, method: :delete, class: "btn btn-light my-2 btn-sm" %>
<%end%>

