<% if @business.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @business.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @beneficiary do |f| %>
    <%= f.label "Recipient" %><br/>
    <%= f.text_field :recipient%>
    <br/>
    <%= f.label "City" %><br/>
    <%= f.text_field :city %>
    <br/>
    <%= f.label "State" %><br/>
    <%= f.text_field :state %>
    <br/>
    <%= f.submit %>
<% end %>