<ul>
    <%@beneficiaries.each do |beneficiary|%>
    <li><%=link_to beneficiary.recipient, beneficiary_path(beneficiary) %></li>
    <%end%>
</ul>


<h4>Local Beneficiaries</h4>
<ul>
    <%@local.each do |l|%>
        <li><%=l.recipient%>, Businesses: <%=l.businesses.size%></li>
        <ul>
            <%l.businesses do |b|%>
                <li>Business ID: <%=b.id%>, Business Name: <%=b.name%></li>
            <%end%>
        </ul>
    <%end%>
</ul>



