<% if @philanthropic_initiative.errors.any? %>
    <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
        <% @philanthropic_initiative.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>


<h6>Philanthropic Initiative</h6>
<%= form_for @philanthropic_initiative do |pi_f| %>
    <%= pi_f.hidden_field :business_id %>
    <div class="form-group row">
        <%= pi_f.label "Name:", class: "col-sm-1 col-form-label" %>
        <div class="col-sm-3">
            <%= pi_f.text_field :name, class:"form-control"%>
        </div>
    </div>

    <div class="form-group row">
        <%= pi_f.label "Amount:", class: "col-sm-1 col-form-label" %>
        <div class="col-sm-3">
            <%= pi_f.text_field :pledged_amount, class:"form-control"%>
        </div>
    </div>

 <div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">$</div>
  </div>
  <input type="text" class="col-sm-2 form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <div class="input-group-text">.00</div>
  </div>
</div> 



    <div class="form-group row">
        <%= pi_f.label "Goal:", class: "col-sm-1 col-form-label" %>
        <div class="col-sm-3">
            <%= pi_f.text_field :goal, class:"form-control"%>
        </div>
    </div>

   <h6>Beneficiary</h6>
        <%= pi_f.fields_for :beneficiary do |beneficiary_f| %>

            <div class="form-group row">
                <%= beneficiary_f.label "Recipient:", class: "col-sm-1 col-form-label" %>
                <div class="col-sm-3">
                    <%= beneficiary_f.text_field :recipient, class:"form-control"%>
                </div>
            </div>

            <div class="form-group row">
                <%= beneficiary_f.label "City:", class: "col-sm-1 col-form-label" %>
                <div class="col-sm-3">
                    <%= beneficiary_f.text_field :city, class:"form-control"%>
                </div>
            </div>

            <div class="form-group row">
                <%= beneficiary_f.label "State:", class: "col-sm-1 col-form-label" %>
                <div class="col-sm-3">
                    <%= beneficiary_f.text_field :state, class:"form-control"%>
                </div>
            </div>
        <%end%>
    <br/>
    <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-secondary my-2">
        </div>
    </div>


<%end%>