<h3><%=@philanthropic_initiative.name%></h3><br/>
<%=@philanthropic_initiative.pledged_amount%><br/>
<%=@philanthropic_initiative.goal%><br/>


<%
=begin%>
 <%= link_to "Edit", edit_business_philanthropic_initiative_path(@philanthropic_initiative.business, @philanthropic_initiative)%><br/> 
<%
=end%>
<br/>
<%
=begin%>
 <%=link_to @philanthropic_initiative.beneficiary.recipient, beneficiary_path(@philanthropic_initiative.beneficiary) %> 
<%
=end%>

