<h3><%=@philanthropic_initiative.name%></h3>

Amount Pledged:<%=@philanthropic_initiative.pledged_amount%><br/>
Company:<%=@philanthropic_initiative.business.name%><br/>
Goal:<%=@philanthropic_initiative.goal%><br/>

Recipients:<%=link_to @philanthropic_initiative.beneficiary.recipient, beneficiary_path(@philanthropic_initiative.beneficiary) %>

<%= link_to "Edit", edit_business_philanthropic_initiative_path(@philanthropic_initiative.business, @philanthropic_initiative)%> 

